.nav-bar {
    background: #99d10c;
    height: 5em;
    width: 90vw;
    
}

.crad {
    height: 370px;
    width: 220px;
    background-color: antiquewhite;
    margin: 3px;
    border-radius: 10px;
}

.image-item{
    background: radial-gradient(circle at top right, rgba(245, 196, 110, .45), transparent 28%), radial-gradient(circle at bottom left, rgba(87, 150, 255, .3), transparent 32%), #f7f5ef;    height: 60px;
    font-family: Trebuchet MS, Segoe UI, sans-serif;
    display: grid;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.pric-item {
    display: flex;
    justify-content: space-between
}

.data-item {
    padding: 20px;
}

.card-cart {
    background-color: bisque;
    border-radius: 10px;
    
}

.cart-page {
    height: 100vh;
}

#root {
    background: radial-gradient(circle at top right, rgba(245, 196, 110, .45), transparent 28%), radial-gradient(circle at bottom left, rgba(87, 150, 255, .3), transparent 32%), #f7f5ef;
    font-family: Trebuchet MS, Segoe UI, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}